.confirm-modal {
  font: 100 14px/1.5  'Open Sans', sans-serif;

  label, span {
    font: 100 14px/1.5  'Open Sans', sans-serif;
  }

  .modal-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: gray;
    opacity: 0.3;
    z-index: 100;
    width: 100%;
    height: 100%;
  }

  .confirm-modal-content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    z-index: 100;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
  }

  .confirm-modal-message {
    display: block;
    margin-bottom: 6px;
    font: 100 24px/1.5  'Open Sans', sans-serif;
  }

  .confirm-modal-input {
    display: block;
    border-radius: 3px;
    padding: 5px;
    outline: none;
    border: 1px solid gray;
    width: 90%;
    font: inherit;
  }

  .modal-field {
    margin-top: 10px;
  }

  .name {
    font-size: 30px;
    padding-top: 16px;
  }

  .buttons-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    button {
      margin: 5px;
      border-radius: 3px;
      font: 100 13px/1.5  'Open Sans', sans-serif;
      -webkit-font-smoothing: subpixel-antialiased;
      padding: 2px 11px 2px 10px;
      text-align: center;
      cursor: pointer;
    }

    button.cancel {
      border: 1px solid #6b6b6b;
      background-color: transparent;
      margin-right: 10px;
      color: #6b6b6b;
    }

    button.cancel:hover {
      border: 1px solid lightgray;
    }

    button.submit {
      background-color: #ff5500;
      border: 1px solid rgb(255, 85, 0);
      color: white;
    }

    button.submit:hover {
      background-color: #ec4d08;
    }
  }

  .modal-error {
    color: red;
    font-size: 11px;
  }


}
