body {
  background-color: #f2f2f2;
}

.content-wrapper {
  margin: 43px auto 0px auto;
  min-width: 1000px;
  max-width: 1400px;
  width: 90%;
  // padding: 20px 0px;
  background-color: white;
  flex: 1;
}

.content {
  padding: 0px 30px;
  display: flex;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

button:focus {
  outline: none;
}

//THIS SECTION MAY NEED TWEAKING ~ ESPECIALLY THE RATIOS
.content-left-wrapper {
  min-width: 775px;
  width: 70%;
  max-width: 980px;
  height: 100%;
  border-right: 1px solid #f2f2f2;
}

.content-right-wrapper {
  min-width: 300px;
  max-width: 420px;
  width: 30%;
  height: 100%;

}



 // GENERALIZED AND RE-USEABLE CLASSES
.content-left {
  padding: 30px 0px;
}

.content-right {
  padding: 30px 0px 30px 10px;
}

.float-right {
  float: right;
}

.float-left {
  float: left
}

.hidden {
  display: none !important;
  height: 0 !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-justify-end {
  justify-content: flex-end;
}

.display-block {
  display: block;
}
