body {
  background-color: #f2f2f2;
}

.content {
  margin: 46px auto 0px auto;
  // margin: 0px auto;

  width: 1180px;
  padding: 20px 30px;

  background-color: white;
  flex: 1;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
