body {
  background-color: #f2f2f2;
}

.content-wrapper {
  margin: 46px auto 0px auto;
  min-width: 700px;
  width: 70%;
  padding: 20px 0px;
  background-color: white;
  flex: 1;
}

.content {
  padding: 0px 30px;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

button:focus {
  outline: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left
}
