.discover-song-list-row {
  display: flex;
  margin: 0px auto 60px;

  .discover-img-container {
    margin-right: 20px;
    position: relative;
  }

  .discover-item-img {
    width: 173px;
    margin-right: 15px;
  }
  .discover-item-img img{
    height: 173px;
    width: 173px;
  }

  .discover-img-container-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .discover-img-container:hover .discover-img-container-middle {
    opacity: 1;
  }

  .discover-item-img-empty > img {
    margin-right: 20px;
    height: 173px;
    width: 173px;
    background: #f2f2f2;
    border: 0;
  }

  .discover-item-title > a {
    font: 100 14px/1.0  'Open Sans', sans-serif;
    color: #333333;
    text-decoration: none;
  }

  .discover-item-artist > a {
    font: 100 12px/1.1  'Open Sans', sans-serif;
    color: #999999;
    text-decoration: none;
  }

  .discover-item-title > a:hover {
    font: 100 14px/1.0  'Open Sans', sans-serif;
    color: #000000;
    text-decoration: none;
  }

  .discover-item-artist > a:hover {
    font: 100 12px/1.1  'Open Sans', sans-serif;
    color: #333333;
    text-decoration: none;
  }

  .blank, .blank {
    color: transparent !important;
  }
}
