.song-details-item-container {
  margin: 0 0 15px 10px;
  display: flex;
  flex-direction: row;
  // height: 200px;
  width: 100%;
  // border: 1px solid red;
  justify-content: space-between;
  font: 100 14px/1.5  'Open Sans', sans-serif;

  .song-details-image-container {
    // width: 100%;
    // height: 100%;
    // align-content: flex-end
    margin-left: auto

  }

  .song-details-image {
    width: 300px;
    height: 300px;
    padding: 10px;
    // align: right;
    margin-left: auto;
    object-fit: cover;
    overflow: hidden;
    background-size: cover;
  }

  .music-content {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    width: 100%;
    margin-left: 5px;
    margin-right: 35px;

    .play-info {
      display: flex;
      flex-direction: row;
      align-items: flex-start;


      .play-button-container {
        margin-right: 10px;
      }


      .artist-title {

        span {
          background-color: black;
          text-align: center;
          padding: 4px;
        }

        a {
          text-decoration: none;
          cursor: pointer;
        }


        .artist span {
          color: #cccccc;
          font-size: 16px;
          &:hover {
            color: white;
          }
        }

        .title {
          margin-top: 10px;
          font-size: 24px;
          color: white;
        }
      }

      .date-container {
        text-align: right;
        margin-left: auto;

        .date {
          color: white;
          font-size: 16px;
          font-weight: 100;
          line-height: 16px;
          padding-top: 5px;
          letter-spacing: -1px;
        }
      }
    }

    .waveform {
      height: 65px;
    }

    .comments-likes {
      text-align: right;
      justify-content: flex-end;

      .comments-count, a, i {
        color: #999;
        font-size: 11px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: #333333;
        }
      }
    }
  }
}
