.song-list-item-container {
  margin: 0 0 15px 10px;
  display: flex;
  flex-direction: row;
  // height: 200px;
  width: 700px;
  // border: 1px solid red;
  font: 100 14px/1.5  'Open Sans', sans-serif;

  .song-list-image {
    width: 150px;
    height: 150px;
    padding: 10px;
    object-fit: cover;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .music-content {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    width: 100%;
    margin-left: 5px;

    .play-info {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .play-button-container {
        margin-right: 10px;
      }

      .artist-title {
        flex: 1;

        .artist a {
          color: #999999;
          cursor: auto;
          text-decoration: none;
          font: inherit;
          font-weight: 100;
          font-size: 12px;
          line-height: 16px;
        }

        .artist a:hover {
          color: #333333;
        }

        .title a {
          color: #333333;
          font: inherit;
          font-size: 15px;
          line-height: 1.2;
          font-weight: 100;
          cursor: auto;
          text-decoration: none;
        }

        .title a:hover {
          color: #000000;
        }
      }

      .date-container {
        align-self: flex-start;
        text-align: right;
        // display: flex;
        // flex-direction: row;

        .date {
          color: #cccccc;
          font-size: 12px;
          font-weight: 100;
          line-height: 16px;
          padding-top: 5px;
        }
      }
    }

    .waveform {
      height: 65px;
    }

    .comments-likes {
      text-align: right;
      justify-content: flex-end;

      .likes-count-container {
        display: flex;
        font: inherit;
        font-size: 11px;
        // margin-top: 1px;
        margin-right: 10px;
      }

      .actual-likes-count {
        color: #999;
        font: 100 11px/1.5  'Open Sans', sans-serif;
      }


      .comments-count, .comments-count a, .comments-count i {
        color: #999;
        font-size: 11px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: #333333;
        }
      }
    }
  }
}
