.footer {
  margin: 0px auto;
  min-width: 1000px;
  max-width: 1400px;
  width: 90%;
  margin-bottom: 47px;
  height: 0px;
  background-color: white;
  font: 100 10px/1.5  'Open Sans', sans-serif;
}

.footer-content {
  padding: 10px 0px 0px;
}

.footer-content > ul {
  list-style: none;
}

.footer-content li {
  color: darkgray;
}

.footer-content a {
  text-decoration: none;
  color: darkgray;
  font: inherit;

  &:hover {
    color: #666;
  }
}
