.footer {
  margin: 0px auto;
  min-width: 1000px;
  max-width: 1400px;
  width: 90%;
  padding: 10px 0px;
  height: 0px;
  background-color: darkgray;
  // width: 100% // For example, if you want a player that spans the entire width of the page.
}

.footer-content {
  padding: 0px 30px;
}
