.footer {
  margin: 0px auto;
  min-width: 700px;
  width: 70%;
  padding: 10px 0px;
  height: 15px;
  background-color: darkgray;
  // width: 100% // For example, if you want a player that spans the entire width of the page.
}

.footer-content {
  padding: 0px 30px;
}
